html, body{
	background: lightgrey;
	text-align: center;
	font-family: sans-serif;
}

header{
	margin-top: 2em;
}

#tagline{
	margin-top: 2em;
	font-family: helvetica;
	font-size: 300%;
	color: white;
}

#contact{
	margin-top: 16em;
}